* {
  margin: 0;
}

@font-face {
  font-family: GrundfosTheSansV2OT;
  src: url(../fonts/GrundfosTheSansV2Bold.ttf);
}

@@font-face {
  font-family: Grundfostitle;
  src: url(../fonts/GrundfosTheSansV2OT-7B.otf);
}

html {
  display: table;
  font-family: GrundfosTheSansV2OT, Helvetica, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body{
  font-family: GrundfosTheSansV2OT;
}

h6 {
  font-family: GrundfosTheSansV2OT;
}

.country{
  font-size: 3.8rem;
  margin-left: 10px;
  color: #34648f;
}
#menu-toggle {
  background-color: #11497B;
  font-family: GrundfosTheSansV2OT;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
}

#dashboard{
  text-align: center;
  color: white;
}
.sidebar-nav li{
  font-family: GrundfosTheSansV2OT;
}


.tab-content{
  margin-left: 250px;
  padding: 1em;
}

#sidebar-wrapper img{
  display: flex;
  width: 85%;
  margin: 5% auto;
}

.legend{
  margin-top: 10px;
}

.legend span{
  text-align: center;
}

#legend-active{
  color: #4aa22c;
}

#legend-deactive{
  color: #dd0028;
}

#legend-rfi{
  color: #969a9c;
}

.active_course {
  color: #4aa22c;
  margin-left: 10px;
  margin-bottom: 25px;
}

.course{
  float: left;
  margin-right: 5px;
  color: #34648f;
}




.sidebar_num{
  color: #4aa22c;
  margin-left: 10px;
}
.gridContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 10px;
}
.gridContainer > .gridItem {
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  vertical-align: middle;
}

.hidden{
  display: none;
}

.activate h6{
  color: #4aa22c;
}

.deactivate h6{
  color: #dd0028;
}

.other h6{
  color: #969a9c;
}
